body {
    display: flex;
    justify-content: center;
}

.container {
    height: 200px;
    width: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    color: lightgreen;
    background-color: blue;
}

